.row {
  font-size: 14px;
  cursor: pointer;
  padding: 2px 0;
  display: flex;
  align-items: flex-end;
  color: #444;

  .text {
    padding-left: 5px;
  }

  $step: 20px;
  &.level-0 {
    padding-left: 0;
  }
  &.level-1 {
    padding-left: $step;
  }
  &.level-2 {
    padding-left: $step * 2;
  }
  &.level-3 {
    padding-left: $step * 3;
  }
  &.level-4 {
    padding-left: $step * 4;
  }
}

$folderColor: #2185d0;
.folder {
  color: $folderColor;
}
.folderOpen {
  color: $folderColor;
}
.file {
  margin-left: 21px;
  color: #222;
}
.chevron {
  transition: transform 0.1s linear !important;
  &.rotated {
    transform: rotate(90deg);
  }
}

.children {
  overflow: hidden;
  transition: height 0.2s ease-in;

  &.collapsed {
    height: 0;
  }
}
